*{
  color: white;
  font-family: Quicksand;
}
.bg{
  background-color:rgba(0, 0, 18, 0.65);
  min-height: 100vh;
 
}

.navbar-toggler-icon{
  background-color: white;
  border: none;
}

@media only screen and (min-width: 768px) {
  .bg-nav{
    background-color:rgba(0, 0, 18, 0.65);
    height: 100vh;
  }

  
}


.para {
  display: inline;
  margin-left: 8px;
}
.icons {
  display: inline;
}
.link{
  text-decoration: none;
  

}

.link:hover{
 
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  .left {
    position:fixed;
}
.right{
  position:fixed;
  right:0;

}
.center{
  
  margin-left: 230px;

}

}


@media screen and (max-width: 768px) {
.bar-input{
  left: 0 !important;
}

}

img:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.parent{
  display: grid;
            gap:20px;
            /*grid-template-columns: 300px 500px;*/
            grid-template-columns: repeat(5,1fr);
}

@media screen and (max-width: 768px) {
  .parent{
    grid-template-columns: repeat(3,1fr);
  }

  
}
@media screen and (max-width: 545px) {
  .parent{
    grid-template-columns: repeat(2,1fr);
  }

  
}
@media screen and (max-width: 345px) {
  .parent{
    grid-template-columns: repeat(1,1fr);
  }

  
}

.monte-font{
  font-family: Montserrat;
}

.bg-movie{
  background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.react-autosuggest__input--focused {
  outline: none;
}

@media screen     and (max-width: 786px) {
  .switch-btn{
    display: none;
  }
  }
@media screen     and (min-width: 786px) {
  .switch-btn2{
    display: none;
  }
  }

  .for-u{
    text-shadow: 1px 1px rgb(228, 220, 220);
  }
  
  @media screen and (max-width: 768px) {
    .mobile{
        margin-top: 470px;
    }
    .bg{
      background-color:rgba(0, 0, 18, 0.65);
      min-height: 300vh;
    }
    .img-fluid{
      width: 90% !important;
      height: 90%;
     
    }
    .mobile-2{
      margin-top: -20px;
    }
    
  }